
{% extends 'base.html' %}

{% block content %}
        
<div class="container-fluid">
    <div style="height:100vh">
        
        <div class="starter-template">
            <i>{{ subheadingL2 }}</i>
            <h1>Experiment in tracking Personal Data from the Internet of Things</h1>
            <p>This is a Django web application of Project (Experiment in tracking Personal Data from the Internet of Things).</p>

            <h3>Student : Chong Cheng Lin (UG) <br>
                Supervisor: Dr Paolo Missier<br>
            </h3>
        
        </div>

    </div>
    
</div>
{% endblock %}
