<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <title>Counter Cubes Presentation</title>
        {% include 'pre_bootstrap_js.html' %}
        {% include 'pre_js.html' %}
        {% include 'pre_bootstrap_css.html' %}
        {% include 'pre_css.html' %}
    </head>
    <body>
        <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home/">MQTT</a>
            </div>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    {% block navbar %}
                    <li class="active">
                        <a href="/home/"><i class="fa fa-fw fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="/plots/"><i class="fa fa-fw fa-bar-chart-o"></i> Plots</a>
                    </li>
                    <li>
                        <a href="/live/"><i class="fa fa-fw fa-globe"></i> Live</a>
                    </li>
                    {% endblock %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
          {% block content %}{% endblock %}
        </div>
        <!-- /#page-wrapper -->
            
    </div>
        
  </body>
    
</html>
