{% load static %}


<!-- Bokeh -->
<link
    href="{% static 'bokeh/css/bokeh-0.12.4.min.css' %}"
    rel="stylesheet" type="text/css">
<link
    href="{% static 'bokeh/css/bokeh-widgets-0.12.4.min.css' %}"
    rel="stylesheet" type="text/css">


<!-- Bootstrap-Select  -->
<link href=" {% static 'bootstrap-select/css/bootstrap-select.min.css' %}" rel="stylesheet">

<!-- Bootstrap-datetimepicker by Eonasdan -->
<link href=" {% static 'bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">

<!-- Custom -->
<link href="{% static 'bootstrap/css/sb-admin.css' %}" rel="stylesheet">

<!-- Custom Fonts -->
<link href="{% static 'bootstrap/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
