{#THIS FILE IS TO LINK ALL THE JAVASCRIPT NEEDED FOR THE WEB APP#}

{% load static %}

<!-- Bokeh  -->
<script src="{% static 'bokeh/js/bokeh-0.12.4.min.js' %}  "></script>
<script src="{% static 'bokeh/js/bokeh-widgets-0.12.4.min.js' %}"></script>

<!-- Bootstrap-Select  -->
<script src=" {% static 'bootstrap-select/js/bootstrap-select.min.js' %}"></script>

<!-- Bootstrap-datetimepicker by Eonasdan  -->
<script src=" {% static 'moment/js/moment.min.js' %}"></script>
<script src=" {% static 'bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
